body {
     background-color: #FFF;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 16px;
 }

body, div, p, img, ul, li, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

.floatRight {
    position: relative;
    float: right;
    width: 300px;
    height: auto;
    margin: 0px 0px 10px 10px;
}

div#header, div#mainContainer {
    width: 960px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

div#headerWrapper {
    width: 100%;
    background-color: rgb(67,136,204);
}

div#header h2 {
    font-size: 24px;
    padding: 10px 0px 5px 10px;
}

div#menuContainer {
    height: 30px;
    border-top: 1px #369 solid;
    position: relative;
    padding: 6px;
    box-sizing: border-box;
}

div#menuContainer a {
    font-weight: bold;
    color: #FEC;
}

ul#menu {
    display: inline-block;
}

ul#menu li {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding-right: 6px;
}

ul#menu li:first-of-type {
    margin-left: 6px;
}

ul#menu li a {
    color: #000;
    text-decoration: none;
}

a#clientLogin {
    color: #FFF;
    font-weight: bolder;
    float: right;
    text-decoration: none;
    margin-right: 11px;
}

div#mainContainer {
    border: 1px solid #369;
    min-height: 400px;
}

div#mainContainer img.left, div#mainContainer img.right {
    position: relative;
    display: inline-block;
    width: 300px;
    height: auto;
    margin: 10px;
}

div#mainContainer div.middleContent {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 310px;
    min-height: 30px;
}

div.middleContent h3 {
    margin-bottom: 10px;
}

a.bigButton {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    font-size: 18px;
    color: #FFF;
    background: #3b679e; /* Old browsers */
    background: -moz-linear-gradient(top,  #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b679e), color-stop(50%,#2b88d9), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #3b679e 0%,#2b88d9 50%,#207cca 51%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    width: 120px;
    text-align: center;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.25);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.25);
}

div.content {
    padding: 10px;
}

div.footer {
    margin: 10px 10px 0px 10px;
    padding: 10px;
    border-top: 1px solid #369;
    text-align: center;
    font-size: 12px;
}

div.footer a {
    color: #999;
}

div.twoColumn {
    position: relative;
    display: inline-block;
    margin: 10px;
    width: 600px;
}

div.content p, div.formRow {
    padding-top: 8px;
    padding-bottom: 8px;
}

form h3 {
    margin-top: 5px;
}

form input, form select {
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
    width: 200px;
}

form input[type=file] {
    width: auto;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

div.formRow:not(.checkbox) label {
    position: relative;
    display: inline-block;
    width: 150px;
}

div.formRow.small label {
    width: 100px;
}

form textarea {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.formRow.checkbox input {
    width: 16px;
    height: 16px;
    padding: 0;
}

form input[type=submit] {
    width: auto;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

form input[type=submit].separate {
    margin-top: 10px;
}

.error {
    color: #F00;
}

button {
    display: block;
    margin: 10px 0px 10px 0px;
}

.separate {
    margin-top: 10px;
}

table {
    text-align: left;
    margin-bottom: 20px;
}

td, th {
    padding: 5px 20px 5px 0px;
}

h3 {
    margin-bottom: 10px;
}

span.user {
    font-weight: bold;
}

.dataTables_wrapper {
    margin-top: 15px;
    margin-bottom: 15px;
}

ul.niceList {
    margin-left: 20px;
}

textarea[disabled=disabled] {
    background-color: #FFF;
    color: #000;
}

.wrongPassword {
    border: 1px solid #F00;
}